<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" >
	<listeners>
		<listener class-name="listener.MyListeners" />
	</listeners>
  <test name="test" >
    <classes>
       <class name="Framework.MavenProject.AppTest" />
       <class name="Framework.MavenProject.BaseTest" />
    </classes>
  </test>
 </suite>
